body {
    background-color: rgb(87, 220, 238);
}

h1 {
    color: black;
    text-align: center;
}

h2 {
    color: black;
    text-align: center;
}

h3 {
    color: black;
    text-align: center;
}

div {
    text-align: center;
}